{% load static %}
{% block content %}
{{ customers.update_counter }}

    <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.author }}</p>
        <p>View : {{ post.view }} </p>
        <script>
            if("{{ post.created_at }}" === "{{ post.updated_at }}") {
                document.write("[ 작성일: {{ post.created_at }} ] " )
            }
            else
                document.write("[ 작성일: {{ post.created_at }} ]  [ 수정일: {{ post.updated_at }} ]")
        </script>
        <a href="/board/list/">List</a>
        <a href="{% url 'edit' post.pk %}">Edit</a>
        <a href="{% url 'delete' post.pk %}" onclick="alert('삭제되었습니다.')">Delete</a>
        <hr>
        <p>{{ post.content }}</p>
    </div>
{% endblock %}