{% load static %}
<head>
    <title>{{ post.title }} 수정</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>
    <h2>게시글 수정</h2>
    <hr>
    <form action="{% url 'update' pk=post.pk %}" , method="POST">
        {% csrf_token %}
        <label for="title"></label>
        <input type="text" name="title" id="title" value="{{post.title}}" placeholder="수정할 제목을 입력하세요.">
        <br>
        <label for="author"></label>
        <input type="text" name="author" id="author" value="{{post.author}}" placeholder="수정할 이름을 입력하세요.">
        <br>
        <label for="content"></label>
        <textarea name="content" id="content" placeholder="수정할 내용을 입력하세요.">{{post.content}}</textarea>
        <br><br>
        <button type="submit" style="border: none; cursor: pointer;" onclick="alert('수정하시겠습니까?')"><h3>수정하기</h3></button>
    </form>
</body>
