{% load static %}
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>
<body>
    <header>
        <h2 class="blog_title">Blog</h2>
        <a class="post_add" href="{% url 'create' %}"><h3>글 작성하기</h3></a>
    </header>
    <div class="content_wrapper">
    {% for item in items %}
        <div class="list_wrapper">
            <div class="post_header">
                <a href="{% url 'detail' pk=item.pk %}" style="text-decoration: none; color: black;"><p class="post_title">{{ item.title }} </p></a>
                <p class="post_summary">{{ item.summary }}</p>
            </div>
            <!--<a href="{% url 'delete' item.pk %}" style="color: black;" onclick="alert('삭제되었습니다.')">[ 삭제 ]</a>-->
            <script class="post_at">
                if("{{ item.created_at }}" === "{{ item.updated_at }}") {
                    document.write(" 작성일: {{ item.created_at }} ")
                }
                else
                    document.write(" 작성일: {{ item.created_at }} ")
                    document.write(" 수정일: {{ item.updated_at }} ")
            </script>
            <div class="post_info">
                <p class="author"> 작성자 : {{ item.author }} </p>
                <p class="view"> 조회: {{ item.view }} </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <ul style="display: flex; list-style: none;">
        {% if page_object.has_previous %}
        <li style="margin: 3%";><a style="text-decoration: none; color: slategray;" href="?page={{ page_object.previous_page_number }}">&#10094; Prev</a></li>
        {% endif %}
            {% for page in paginator.page_range %}
                {% if page == page_object.number %}
                    <li style="margin: 3%;"><a style="text-decoration: none; color: black; font: bold;" href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li style="margin: 3%;"><a style="text-decoration: none; color: black" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% if page_object.has_next %}
        <li style="margin: 3%";><a style="text-decoration: none; color: slategray;" href="?page={{ page_object.next_page_number }}">&#10095;</a></li>
        {% endif %}
        </ul>
    </div>
</body>