{% load static %}
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <header>
        <h2 class="blog_title">Blog</h2>
    </header>
    <aside>
        <div class="menu">
            <label for="expand_menu"></label>
            <input type="checkbox" id="expand_menu" name="expand_menu">
            <ul>
                <li><a href="{% url 'create' %}" class="item"><div>게시글 작성</div></a></li>
                <li><a href="{% url 'index' %}" class="item"><div>홈</div></a></li>
            </ul>
        </div>
    </aside>
    <div class="content_wrapper">
    {% for item in items %}
        <div class="list_wrapper">
            <div class="post_header">
                <a href="{% url 'detail' pk=item.pk %}" style="text-decoration: none; color: black;"><p class="post_title">{{ item.title }} </p></a>
                <p class="post_summary">{{ item.summary }}</p>
            </div>
            <script class="post_at">
                if("{{ item.created_at }}" === "{{ item.updated_at }}") {
                    document.write(" 작성일: {{ item.created_at }} ")
                }
                else
                    document.write(" 작성일: {{ item.created_at }} ")
                    document.write(" 수정일: {{ item.updated_at }} ")
            </script>
            <div class="post_info">
                <p class="author"> 작성자 : {{ item.author }} </p>
                <p class="view"> 조회: {{ item.view }} </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="pagination">
                <span class="step-links text-center" style="width: 100%;">
                    {% if context.has_previous %}
                        <a href="?page=1">&laquo;</a>
                        <a href="?page={{ context.previous_page_number }}">{{ context.previous_page_number }}</a>
                    {% endif %}
                    <span class="current">
                        {{ context.number }}
                    </span>
                    {% if context.has_next %}
                        <a href="?page={{ context.next_page_number }}">{{ context.next_page_number }}</a>
                        <a href="?page={{ context.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</body>