body {
    background-color: #F8F9FA;
    margin: 3% 20% 5% 20%;
    text-align: justify;
}

#title {
    outline: none;
    border-radius: 4px;
    font-size: 250%;
    border: none;
    background-color: transparent;
}

#author {
    outline: none;
    border: none;
    background-color: transparent;
}

#content {
    outline: none;
    background-color: transparent;
    font-size: 130%;
}

textarea {
    width: 100%;
    border: none;
    height: 6.25em;
    resize: none;
  }